<div class="main-container flex-column align-items-center">
    <h1 style="font-family: 'Train One', cursive;
        font-size: 64px;" class="my-5">SOME ARTICLES LISTED:</h1>
    <%= link_to "List all articles", articles_path, :class => "btn btn-warning" %>
</div>